<div
  class="container d-flex justify-content-center align-items-center min-vh-100"
>
  <!----------------------- Login Container -------------------------->

  <div class="row border rounded-5 p-3 bg-white shadow box-area">
    <!--------------------------- picture Box ----------------------------->

    <div
      class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box"
    >
      <div class="featured-image mb-3">
        <img src="assets/icons/login pic.jpg" class="img-fluid" style="width: 550px" />
      </div>
    </div>
    <!-------------------- ------ content Box ---------------------------->

    <div class="col-md-6 right-box">
      <div class="row align-items-center">
        <div class="header-text mb-4 text-center">
          <h1>Create New Account</h1>
          <br />
          <app-header></app-header>
        </div>
        <!------------------ ------ loin info-------------------- ------->
        <div class="input-group mb-3">
          <input
            required
            type="text"
            maxlength="30"
            class="form-control form-control-lg bg-light fs-6"
            placeholder="Username"
          />
        </div>
        <div class="input-group mb-3">
          <input
            required
            type="text"
            maxlength="30"
            class="form-control form-control-lg bg-light fs-6"
            placeholder="Email address"
          />
        </div>
        <div class="input-group mb-1">
          <input
            required
            type="password"
            maxlength="8"
            class="form-control form-control-gr bg-light fs-6"
            placeholder="Password"
          />
        </div>
        <div class="input-group mb-5 d-flex justify-content-between">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="formCheck" />
            <label for="formCheck" class="form-check-label text-secondary"
              ><small>Remember Me</small></label
            >
          </div>
        </div>
        <!------------------ ------ login button-------------------- ------->

        <div class="input-group mb-3">
          <button type="submit" class="btn btn-outline-success w-100">
            Sign up
          </button>
        </div>
        <div class="input-group mb-3">
          <button class="btn btn-lg btn-light w-100 fs-6">
            <img src="assets/icons/google.png"
              style="width: 20px"
              class="me-2"
            /><small>Sign Up with Google</small>
          </button>
        </div>
        <div class="row">
          <small>
            Already registered?
            <a routerLink="">Sign in</a></small
          >
        </div>
      </div>
    </div>
  </div>
</div>
