<app-navbar></app-navbar>
<!-------------- navigatio bar start---------- -->
<nav class="navbars">
    <div class="container-fluid-nav text-center">
      <h5>My Profile</h5>
    </div>
  </nav>
  <!-------------- navigatio bar ends----------------->
  <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
      <div class="col-md-3 border-right">
        <div
          class="d-flex flex-column align-items-center text-center p-3 py-5"
        >
          <img
            class="rounded-circle mt-5"
            width="150px"
            src="assets/icons/profile-user.png"
          />
          <span class="font-weight-bold">Username</span>
          <span class="text-black-50">user123@gail.com</span>
        </div>
      </div>
      <div class="col-md-8">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-center">Profile</h4>
          </div>
          <div class="row mt-2">
            <div class="col-md-6">
              <label class="labels">Name</label
              ><input
                type="text"
                class="form-control"
                placeholder="First name"
                value=""
              />
            </div>
            <div class="col-md-6">
              <label class="labels">Last Name</label
              ><input
                type="text"
                class="form-control"
                value=""
                placeholder="Last name"
              />
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <label class="labels">Gender</label
              ><input
                type="text"
                class="form-control"
                placeholder="Enter gender"
                value=""
              />
            </div>
            <div class="col-md-12">
              <label class="labels">I am Excited acout:</label
              ><input
                type="text"
                class="form-control"
                placeholder="Enter here"
                value=""
              />
            </div>
            <div class="col-md-12">
              <label class="labels">During my free time I like to do:</label
              ><input
                type="text"
                class="form-control"
                placeholder="Enter here"
                value=""
              />
            </div>
            <div class="col-md-12">
              <label class="labels">My favourit book is:</label
              ><input
                type="text"
                class="form-control"
                placeholder="Enter here"
                value=""
              />
            </div>
            <div class="col-md-12">
              <label class="labels">My favourit foods are:</label
              ><input
                type="text"
                class="form-control"
                placeholder="Enter here"
                value=""
              />
            </div>
          </div>
        </div>
        <!-- Buttons-->

        <div class="container">
          <div class="row">
            
            <div
              class="col-6 d-flex align-items-center justify-content-start"
            ><a (click)="goBack()">
              <button class="btn btn-primary profile-button" type="button">
                Go Back
              </button></a>
            </div>
            
            <div class="col-6 d-flex align-items-center justify-content-end"><a (click)="goBack()">
              <button class="btn btn-primary profile-button" type="button">
                Save Profile
              </button></a>
            </div>
          </div>
        </div>
        <br />
        <br />
        <!-- Buttons ends-->
      </div>
    </div>
  </div>